<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 400px">
	 <div class="carousel-inner" role="listbox">
	   <div class="item active">
	     <%= image_tag "header.jpg", style: 'width: 100%;' %>
	     <div class="container" >
		  <div class="row">
			  <div class="span12" style="height: 20px;">
			       <div class="" style="background-color: transparent; position: relative; top: -500px;">
			  
			         <h1 class="header">Design Conectivo</h1>
			         <p class="lead header lead-big">
					    <%= @config.tagline %>
			    
				    </p>
			    </div>
		    </div>
	      </div>
          </div>
	  </div>
</div><!-- /.carousel -->

<div id="sobre" class="container" style="margin-top: 30px;">
	<div class="row">
		
		<div class="span12">
			<div class="page-header">
			  <h2 class="header">Sobre nós</h2>
			</div>
			
			<p class="lead lead-big">Em tempos de conexões, como o nosso, em que as informações chegam à velocidade da luz aos quatro cantos do mundo e que as trocas se intensificam,  irradiando em múltiplos focos, a comunicação deixa de ser matéria exclusiva de um ou dois campos do conhecimento para se tornar plataforma colaborativa entre diversas linguagens.</p> 

			<p class="lead">E, na medida em que a esfera digital se configura como um hub, por onde passam todas as formas de criação, ela coloca novos desafios para a criação, tanto no plano bidimensional quanto no tridimensional - que tende a se tornar cada vez mais experiêncial.</p>

			<p class="lead ">A <b>Velvet Design</b> nasce de um profundo afinamento com as dinâmicas da comunicação de nossa época  e, ao mesmo tempo,  da convergência entre duas trajetórias no campo da criação.</p>

			<p class="lead">Por um lado, da experiência de anos de trabalho com cenografia e design gráfico, de <b>Roberta Queiroz</b>. Por outro, do percurso consolidado na pintura, nacional e internacionalmente, do artista plástico <b>André Poli</b>. Dessa parceria entre linguagens e da afinidade com o propósito de uma atuação multidisciplinar, surge a Velvet em 2006, com a meta de desenvolver projetos, em diferentes escalas e suportes, que respondam às necessidades específicas de cada cliente.</p>

		</div>
		
	</div>
</div>
<div style="margin-top: 50px;"></div>


	<div id="design" class="thumb"><div class="thumb-text">Design</div></div>
	<div id="agencia" class="thumb"><div class="thumb-text">Agência</div></div>
	<div id="editora" class="thumb"><div class="thumb-text">Editora</div></div>


<div class="clearfix"></div>

	
<div id="about2" class="container">
	<div class="row" style="margin-top: 80px;">
		<div class="span12">
			
			<p class="lead lead-big">Compreendendo o design de uma maneira ampla, a Velvet Design se posiciona como uma agência de criação, comunicação e realização de ideias.</p>

			<p class="lead">Para nós o design é um princípio que pode se desdobrar em diversas formas e escalas  - da esfera gráfica à ambiental passando pelo objeto - além de contemplar, também, o desenho do processo que envolve desde a concepção até a realização dos projetos formulados.</p>

			<p class="lead">Nessa direção, a Velvet Design Conectivo assegura aos seus clientes a execução integral dos projetos que desenvolve – operacionalizando todas as etapas de produção - otimizando recursos e garantindo que o produto final seja concluído do modo como fora inicialmente imaginado.</p>
		</div>
			
	</div>
</div>

<div id="post" style="margin-top: 80px; " class="">
	<div  id="post-image" class="maison pull-left" style="width: 50%; height: 1000px; overflow: hide;">
		
	</div>
	<div class="pull-right" style="width: 50%; background-color: #F7F7F7;">
		<div style="padding: 50px; padding-top: 20px; width: 70%">
			<h4 class="header">Notícias</h4>
			<h2 class="header" style="margin-bottom: 50px;"><%= @last_post.title.html_safe %></h2>
			<div class="feature-post-text"><%= @last_post.content.html_safe %></div>
		</div>
	</div>
</div>
<div class="clearfix"></div>


<div style="width: 100%; background-color: white; height: 0px"></div>

<div >
	<footer class="velvet">
	  <hr>
	  
	<div class="container nav-collapse">

		
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="footer">
		    		 	<a id="btn-sobre" href="#sobre">Sobre</a> | 
		   		  	<a id="btn-post" href="#post">Notícias</a> | 
			   		<% if user_signed_in? %>
						<% if current_user.admin %>
			   				<%= link_to 'Painel de Controle', admin_dashboard_path %> | 
						<% end %>	
			   		<% end %>
			   		<% if user_signed_in? %>
			    			<%= link_to 'Conta', edit_user_registration_path %> |
			    			<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
			   		<% else %>
			   			<%= link_to 'Entra', new_user_session_path  %> | 
			   			<%= link_to (t "nav.signup"), new_user_registration_path  %>
			   		<% end %>
				</p>
				<hr style="margin-top: 20px;">
				<p style="text-align: center; color: white">&copy; <%= @config.website_name %> <%= Time.now.year %></p>
			  </div>
		  </div>
	  </div>
	</footer>
</div>


